.cont_principal{class: "pr#{project.id}", name: "pr#{project.id}"}
  .cont_centrar
    .cont_todo_list_top
      .cont_titulo_cont{onclick: "editProject(#{project.id});"}
        %h3{onmouseover: "toggleProject(#{project.id});"}= project.title.capitalize
        %h3{style: "display: none;"}} PRESS MOUSE LEFT KEY TO CHANGE
      .cont_add_titulo_cont
        %a.add_task{:href => "#"}
          %i.material-icons 
    = render partial: 'tasks/new_task', locals: { task: task, project: project}
    .cont_princ_lists{class: "pr#{project.id}"}
      %ul
        - if project.tasks
          - project.tasks.each do |task|
            = render partial: 'tasks/task', locals: { task: task, project: project }